.benefits {
    padding: 94px 0;
}
.benefits__ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.benefits__items {
    margin-right: 30px;
    .__title {
        color: $secondary-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
    }
}
.benefits__icon-container {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    padding: 25px 102.34px;
    margin-bottom: 30px;
}
.benefits__icon{
    width: 65.32px;
    height: 70px;
}

.benefits__text {
    color: $phone-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}